{% extends 'frontend/base.html' %}

{% block content %}
  <div class="container">
  <div class="row mt-5">
    <h2 class="mx-auto">Login</h2>
  </div>
    <div class="row">
      
      <div class="mx-auto mt-5">
      
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
      </form>
      </div>
    </div>
  </div>
{% endblock %}