.stagebox-container {
background-color: black;
}

.stage {
  margin: 0.3rem 0.5rem;
  padding-bottom: 5%;
}

.stage1 {
background-color: aquamarine;
}

.stage2 {
background-color: burlywood;
}

.stage3 {
background-color: chocolate;
}

/* STAGEBOX */
.lead-box {
background-color: rgba(230,230,230,0.8);
padding: 0.2rem 0.4rem;
margin: 0.2rem 0.1rem;
border-radius: 0.3rem ;
  
}
.lead-box .lead-name {

}

.stage-dropdown-div {

}

.stage-select-form {

}

.stage-select {
  height: 2rem;
  font-size: 0.7rem;
  width: 10rem;
}

.stage-select-button {

}

.stage-box-heading {
  border-bottom: 3px solid rgb(15, 15, 15);
}

.stage-box-border-top {
  border-top: 3px solid rgb(15, 15, 15);
}
/* STAGE BOX END */