{% extends 'frontend/base.html' %}
{% block content %}
{% csrf_token %}
  <section class="section">
    <div class="container">
      <div class="row">
        <h2 class="mx-auto">Add a lead</h2>
      </div>
      <div class="row">
        <div id="appleadinsert" class="mx-auto my-2">
         
          <!-- Lead Insert -->
        </div>
      </div>
      <div class="row stage-box-border-top">
        <h2 class="mx-auto mt-2 ">Current Leads</h2>
      </div>
      <div id="appstagebox" class="mx-auto">
        <!-- Lead StageBox -->
      </div>
      </div>

    </div>
  </section>
{% endblock %}